<div id="home">
	<form name="configForm" novalidate>
		<fieldset>
			<legend>VS</legend>
			<div class="btn-group">
				<label class="btn btn-primary" ng-model="vs" btn-radio="'playerplayer'">player VS player</label>
		        <label class="btn btn-primary" ng-model="vs" btn-radio="'playerai'">player VS AI</label>
		        <label class="btn btn-primary" ng-model="vs" btn-radio="'aiai'">AI VS AI</label>
			</div>
		</fieldset>
		<fieldset ng-show="vs === 'playerai' || vs === 'aiai'">
			<legend>Level AI 1</legend>
			<div class="btn-group">
		        <label class="btn btn-primary" ng-model="levelai1" btn-radio="'Easy'">Easy</label>
		        <label class="btn btn-primary" ng-model="levelai1" btn-radio="'Medium'">Medium</label>
		        <label class="btn btn-primary" ng-model="levelai1" btn-radio="'Hard'">Hard</label>
		    </div>
		</fieldset>
		<fieldset ng-show="vs === 'aiai'">
			<legend>Level AI 2</legend>
			<div class="btn-group">
		        <label class="btn btn-primary" ng-model="levelai2" btn-radio="'Easy'">Easy</label>
		        <label class="btn btn-primary" ng-model="levelai2" btn-radio="'Medium'">Medium</label>
		        <label class="btn btn-primary" ng-model="levelai2" btn-radio="'Hard'">Hard</label>
		    </div>
		</fieldset>
		<fieldset>
			<legend>Game board size</legend>
			<div class="btn-group">
				<label class="btn btn-primary" ng-model="size" btn-radio="'4'">4x4</label>
				<label class="btn btn-primary" ng-model="size" btn-radio="'6'">6x6</label>
		        <label class="btn btn-primary" ng-model="size" btn-radio="'9'">9x9</label>
		        <label class="btn btn-primary" ng-model="size" btn-radio="'11'">11x11</label>
		        <label class="btn btn-primary" ng-model="size" btn-radio="'14'">14x14</label>
		        <label class="btn btn-primary" ng-model="size" btn-radio="'19'">19x19</label>
		    </div>
		</fieldset>
	    
	    <button 
	    	ng-click='runGame()' 
	    	ng-disabled='!readyForStart()'
	    	type="submit" 
	    	class="btn btn-default btn-circle btn-xl"><i class="glyphicon glyphicon-ok"></i></button>
	</form>
</div>