#gameBoard{

	/*Variables*/
	@hexagon-color-default:#56c98b;
	@hexagon-color-player1:blue;
	@hexagon-color-player2:red;
	@hexagon-color-selected:gray;
	

	.hexagon {
		position: relative;
		width: 50px; 
		height: 28.87px;
		background-color: @hexagon-color-default;
		float: left;
		margin: 1px;
		&:before, &:after{
			content: "";
			position: absolute;
			width: 0;
			border-left: 25px solid transparent;
			border-right: 25px solid transparent;
		}
		&:before{
			bottom: 100%;
	  		border-bottom: 14.43px solid @hexagon-color-default;
		}
		&:after{
			top: 100%;
			width: 0;
			border-top: 14.43px solid @hexagon-color-default;
		}
		&.player1{
			background-color: @hexagon-color-player1;
			&:before{
		  		border-bottom-color: @hexagon-color-player1;
			}
			&:after{
				border-top-color: @hexagon-color-player1;
			}
		}
		&.player2{
			background-color: @hexagon-color-player2;
			&:before{
		  		border-bottom-color: @hexagon-color-player2;
			}
			&:after{
				border-top-color: @hexagon-color-player2;
			}
		}
		&.selected{
			background-color: @hexagon-color-selected;
			&:before{
		  		border-bottom-color: @hexagon-color-selected;
			}
			&:after{
				border-top-color: @hexagon-color-selected;
			}
		}
	}

	.boardBorder{
	height:600px;
		border-top:solid 5px blue;
		border-botom:solid 5px blue;
		border-left:solid 5px red;
		border-right:solid 5px red;
		.relative{
			position:relative;
		}
		
	}
}